In [1]:
import pandas as pd

In [5]:
df=pd.read_csv("decision_tree.csv")

In [6]:
df.head()

    Outlook Temperature Humidity    Wind PlayTennis
0     sunny         hot     high    weak         no
1     sunny         hot     high  strong         no
2  overcast         hot     high    weak        yes
3      rain        mild     high    weak        yes
4      rain        cool   normal    weak        yes

In [8]:
from sklearn.preprocessing import LabelEncoder

In [9]:
target=df["PlayTennis"]
df.drop("PlayTennis",axis=1)

     Outlook Temperature Humidity    Wind
0      sunny         hot     high    weak
1      sunny         hot     high  strong
2   overcast         hot     high    weak
3       rain        mild     high    weak
4       rain        cool   normal    weak
5       rain        cool   normal  strong
6   overcast        cool   normal  strong
7      sunny        mild     high    weak
8      sunny        cool   normal    weak
9       rain        mild   normal    weak
10     sunny        mild   normal  strong
11  overcast        mild     high  strong
12  overcast         hot   normal    weak
13      rain        mild     high  strong

In [10]:
le_outlook=LabelEncoder()
le_temp=LabelEncoder()
le_humidity=LabelEncoder()
le_wind=LabelEncoder()

In [11]:
df["le_outlook"]=le_outlook.fit_transform(df["Outlook"])
df["le_temp"]=le_temp.fit_transform(df["Temperature"])
df["le_humidity"]=le_humidity.fit_transform(df["Humidity"])
df["le_wind"]=le_wind.fit_transform(df["Wind"])

In [12]:
df_new=df.drop(["Outlook","Temperature","Humidity","Wind","PlayTennis"],axis=1)

In [13]:
le_target=LabelEncoder()

In [14]:
df3=le_target.fit_transform(target)

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
x_train,x_test,y_train,y_test=train_test_split(df_new,target,test_size=0.2,random_state=42)

In [17]:
x_train

    le_outlook  le_temp  le_humidity  le_wind
12           0        1            1        1
5            1        0            1        0
8            2        0            1        1
2            0        1            0        1
1            2        1            0        0
13           1        2            0        0
4            1        0            1        1
7            2        2            0        1
10           2        2            1        0
3            1        2            0        1
6            0        0            1        0

In [18]:
x_test

    le_outlook  le_temp  le_humidity  le_wind
9            1        2            1        1
11           0        2            0        0
0            2        1            0        1

In [19]:
from sklearn.naive_bayes import GaussianNB

In [20]:
gnb=GaussianNB()

In [21]:
gnb.fit(x_train,y_train)

GaussianNB()

In [24]:
gnb.score(x_test,y_test)

1.0

In [26]:
gnb.predict(x_test)

array(['yes', 'yes', 'no'], dtype='<U3')

In [28]:
gnb.predict([[0,1,2,1]])

/home/kishore/miniconda3/envs/ml310/lib/python3.10/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  warnings.warn(

array(['yes'], dtype='<U3')