In [1]:
import sqlite3
import pandas as pd

In [3]:
con=sqlite3.connect("northwind.db")

In [18]:
conn = sqlite3.connect('mydatabase.db')

In [19]:
query = "SELECT * FROM mytable;"

In [20]:
df = pd.read_sql(query, conn)

DatabaseError: Execution failed on sql 'SELECT * FROM mytable;': no such table: mytable

In [4]:
con

In [17]:
data=pd.read_sql_query("SELECT * from Products limit 100",con)

DatabaseError: Execution failed on sql 'SELECT * from Products limit 100': no such table: Products